
@font-face {
    font-family: "Red Hat Mono Medium";
    src: url("fonts/RedHatMono/static/RedHatMono-Medium.ttf");
}

@font-face {
    font-family: "Red Hat Mono Regular";
    src: url("fonts/RedHatMono/static/RedHatMono-Regular.ttf");
}

.root {
    -d_blue: #076678;
    -n_blue: #458588;
    -d_red: #9d0006;
    -n_red: #cc241d;
    -d_orange: #af3a03;
    -n_orange: #d65d0e;
    -d_green: #79740e;
    -n_green: #98971a;

    -bg0: #fbf1c7;
    -bg1: #ebdbb2;
    -bg2: #d5c4a1;

    -fg: #3c3836;

    -fx-background-color: -bg0;
    -fx-text-fill: -fg;
    -fx-font-family: "Red Hat Mono Regular";
    -fx-font-size: 16px;
}

.button {
    -fx-background-color: -n_green;
    -fx-text-fill: -fg;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-effect: dropshadow(one-pass-box, -d_green, 0, 0, 0, 3px);
    -fx-padding: 10px 15px;
    -fx-font-family: "Red Hat Mono Medium";
    -fx-font-size: 16px;
}
.button:focused {
    -fx-background-color: -d_green;
    -fx-text-fill: -bg1;
}

.red-button {
    -fx-background-color: -n_red;
    -fx-effect: dropshadow(one-pass-box, -d_red, 0, 0, 0, 3px);
}
.red-button:focused {
    -fx-background-color: -d_red;
}

.orange-button {
    -fx-background-color: -n_orange;
    -fx-effect: dropshadow(one-pass-box, -d_orange, 0, 0, 0, 3px);
}
.orange-button:focused {
    -fx-background-color: -d_orange;
}

.label {
    -fx-text-fill: -fg;
    -fx-font-family: "Red Hat Mono Regular";
    -fx-font-size: 16px;
}

.text-field {
    -fx-background-color: -bg0;
    -fx-padding: 15px;
    -fx-background-radius: 0px;
    -fx-border-width: 3px;
    -fx-border-color: -bg1;
    -fx-effect: dropshadow(one-pass-box, -bg2, 0, 0, 0, 3px);
}

#left-container {
    -fx-padding: 10px;
    -fx-alignment: center;
    -fx-spacing: 10px;
}

#right-container {
    -fx-padding: 10px;
    -fx-spacing: 10px;
}

#center-container {
    -fx-padding: 10px 0px;
    -fx-alignment: center;
}

#menu-title {
    -fx-text-fill: -fg;
    -fx-font-family: "Red Hat Mono Medium";
    -fx-font-size: 20px;
}

#chess-board {
    /* -fx-min-width: 100px; */
    -fx-background-color: -bg1;
    -fx-effect: dropshadow(one-pass-box, -bg2, 0, 0, 0, 3px);
    -fx-padding: 10px 10px 0px 0px;
}

#right-buttons {
    -fx-spacing: 10px;
}

#move-history-container {
    -fx-background-color: -bg1;
    -fx-effect: dropshadow(one-pass-box, -bg2, 0, 0, 0, 3px);
    -fx-padding: 3px;
    -fx-height: 100%;
    -fx-alignment: center;
}

#move-history-title {
    -fx-text-alignment: center;
    -fx-padding: 5px;
}

#move-history-content {
    -fx-background-color: -bg0;
    -fx-preferred-width: 100%;
    -fx-preferred-height: 100%;
    -fx-alignment: top_center;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
.scroll-pane:focused {
    -fx-background-insets: 0;
    -fx-background-radius: 0px;
}

.scroll-pane {
    -fx-background-color: -bg0;
}

#promote_popup {
    /* Apply double line border to popup */
    -fx-background-color: -bg0, -bg1, -bg0;
    -fx-background-insets: -6px, -3px, 0px;

    -fx-padding: 10px 10px 13px 10px;
    -fx-spacing: 10px;
}
#promote_popup .label {
}
#promote_popup .button {
    -fx-background-color: transparent; /* transparent buttons */
    -fx-effect: dropshadow(one-pass-box, -d_orange, 0, 0, 0, 0);
}
#promote_popup .button:hover {
    -fx-background-color: -n_orange;
    -fx-effect: dropshadow(one-pass-box, -d_orange, 0, 0, 0, 3px);
}
#promote_popup .button:focused {
    -fx-background-color: -d_orange;
    -fx-effect: dropshadow(one-pass-box, -d_orange, 0, 0, 0, 3px);
}
